<div class="well" id="subscribe">

	<h4> Imput your email to sign up for our weekly subscription of electric dance music in the bay area </h4>

	<br>

	<div class="form">
		<%= form_for @subscription do |f| %>
			<%= f.text_field :email, :placeholder => "Email" %><br>
			<%= f.submit "Subscribe", :class => "btn btn-primary" %>
		<% end %>
	</div>

</div>