<div class="header">
  <span class="item">
    <a href="/featured">Upcoming Featured Concerts</a>
  </span>
</div>

<div class="well" id="like">
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=164826433652959";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

	<h4> Thank you for sigining up! Expect an email from us soon. </h4> <br> <h5> Please like and share with your friends! </h5>

	<br>

  <div class="fb-like" data-href="http://www.facebook.com/pages/Got-Concert/210996598988450" data-send="false" data-width="250" data-show-faces="true" data-font="verdana"></div>

</div>