<div style="text-align:center;">
	<img src="http://localhost:3000/logo.png" style="height:175px;width:390px"></img>
</div>

<div style="text-align:center">
	<hr></hr>

	<h1> ---This Week--- </h1>

	<div style="width:30%;display:inline-block;line-height:50%;">
		<img style="height:250px;width:150px;" src="http://www.theuntz.com/images/members/events/15275/r3hab-at-ruby-skye-featured.jpeg?date=1350564065"</img>
		<h1> R3hab </h1>
		<h3> Friday December 14th </h3>
		<h4> Ruby Skye </h4> 
		<h1>$40</h1>
		<a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3158464"><h1>Buy Tickets</h1></a>
	</div>

	<div style="width:30%;display:inline-block;line-height:50%;">
		<img style="height:250px;width:150px;" src="http://www.theuntz.com/images/members/events/15275/r3hab-at-ruby-skye-featured.jpeg?date=1350564065"</img>
		<h1> R3hab </h1>
		<h3> Friday December 14th </h3>
		<h4> Ruby Skye </h4> 
		<h1>$40</h1>
		<a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3158464"><h1>Buy Tickets</h1></a>
	</div>

	<div style="width:30%;display:inline-block;line-height:50%;">
		<img style="height:250px;width:150px;" src="http://www.theuntz.com/images/members/events/15275/r3hab-at-ruby-skye-featured.jpeg?date=1350564065"</img>
		<h1> R3hab </h1>
		<h3> Friday December 14th </h3>
		<h4> Ruby Skye </h4> 
		<h1>$40</h1>
		<a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3158464"><h1>Buy Tickets</h1></a>
	</div>
	<hr></hr>

	<h1> ---Up Coming Big Events--- </h1>

	<div style="width:30%;display:inline-block;line-height:50%;">
		<img style="height:250px;width:150px;" src="http://www.theuntz.com/images/members/events/15275/r3hab-at-ruby-skye-featured.jpeg?date=1350564065"</img>
		<h1> R3hab </h1>
		<h3> Friday December 14th </h3>
		<h4> Ruby Skye </h4> 
		<h1>$40</h1>
		<a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3158464"><h1>Buy Tickets</h1></a>
	</div>

	<div style="width:33%;display:inline-block;line-height:50%;">
		<img style="height:250px;width:150px;" src="http://www.theuntz.com/images/members/events/15275/r3hab-at-ruby-skye-featured.jpeg?date=1350564065"</img>
		<h1> R3hab </h1>
		<h3> Friday December 14th </h3>
		<h4> Ruby Skye </h4> 
		<h1>$40</h1>
		<a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3158464"><h1>Buy Tickets</h1></a>
	</div>

	<div style="width:30%;display:inline-block;line-height:50%;">
		<img style="height:250px;width:150px;" src="http://www.theuntz.com/images/members/events/15275/r3hab-at-ruby-skye-featured.jpeg?date=1350564065"</img>
		<h1> R3hab </h1>
		<h3> Friday December 14th </h3>
		<h4> Ruby Skye </h4> 
		<h1>$40</h1>
		<a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3158464"><h1>Buy Tickets</h1></a>
	</div>

	<hr></hr>
</div>