<div style="text-align:center;">
	<img src="http://localhost:3000/logo.png" style="height:175px;width:390px"></img>
</div>

<div style="text-align:center">

	<div style="width:33.3%;display:inline-block;">
		<img src="http://www.theuntz.com/images/members/events/15275/r3hab-at-ruby-skye-featured.jpeg?date=1350564065"</img>
	</div>

	<div style="width:33.3%;display:inline-block;line-height:50%;">
		<h1> R3hab </h1>
		<h3> Friday December 14th </h3>
		<h4> Ruby Skye </h4> 
	</div>

	<div style="width:33.3%;display:inline-block;">
		<a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3158464"><h1>Buy Tickets</h1></a>
	</div>
	<hr></hr>
</div>