<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Got Concerts subscriptions!</h1>
    <br>
    <p>
      You have successfully signed up to receive Get Muzacks weekly email of top dj's performing in the bay area.<br/>
    </p>
    <br>
    <p>
      <a href="http://www.facebook.com">Tell your friends on Facebook</a>
    </p>
    <p>Thanks for joining get ready to party!</p>
  </body>
</html>