<div class="well" id="about">
  <h1> About Us </h1>
  Ever have trouble finding where the best edm artists are playing? Wonder when tickets for your favorite artists are going on sale, so you can snag early bird specials and avoid high prices? Got Concert sets out to find the best of the bay's edm and puts it into a weekly newsletter. Got Concert is always on top of big names coming to the bay, notifying you when tickets go on sale. Make your fun nights easier with Got Concert!

  <h3> Contact Us </h3>
  gotconcert@gmail.com

</div>