h4 {
  font-size: 120%;
  line-height: 110%;
  font-family: arial;
  text-align: center;
}

h5 {
  font-size: 100%;
  line-height: 110%;
  font-family: arial;
  text-align:center;
}

html { 
  background-image:url('concert_bg.jpeg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#subscribe {
  position: fixed; 
  top: 14%; 
  right: 50%;
  margin-right: -250px;
  border: 2px solid;
  border-radius: 15px;
  border-color: #66CCFF;
  -moz-border-radius:25px;
  width: 250px;
  padding-left: 125px;
  padding-right: 125px;
  padding-top: 75px;
  z-index: 5;
}

#like {
  position: fixed; 
  top: 25%; 
  left: 38%;
  border: 2px solid;
  border-radius: 15px;
  -moz-border-radius:25px;
  width: 250px;
  border-color: #66CCFF;

}

.form {
  text-align: center;
  line-height: 300%
}

#motto{
  text-align: center;
  font-size: 250%;
  position: fixed; 
  top: 17%; 
  right: 52.5%;
  margin-right: -250px;
  color: #66CCFF;
  z-index: 6; 
  font-weight:bold;
  line-height: 110%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  
  html{
    background-image:url('iphone.jpg');
  }

  #motto{ 
    top:80px;
    margin-right: -370px;
    font-size: 400%;
  }

  #subscribe{
    font-size: 250%;
    top:0%;
    height:70%;
    position: fixed; 
    top: 20px; 
    right: 37%;
    border: 10px solid;
    border-radius: 15px;
    border-color: #66CCFF;
    -moz-border-radius:25px;
    width: 50%;
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 150px;
    z-index: 5;
  }

  #subscribe input{
    margin-top: 30px;
    height:100px;
    width:500px;
    font-size: 150%;
  }

  #subscribe input.btn{
    padding-bottom: 20px;
    height: 110px;
    width:510px;
  }

  .form {
  text-align: center;
  height: 100px;
  }

  .fb-like{
    height:150px;
  }
}